<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team.mapper.ACommentMapper">

	<select id="getcomment" resultType="com.wolf.domain.ACommentDTO">
		select * from comment where recomment is null order by commentNum desc limit #{page} , #{pagesize}
	</select>
	
	<select id="getcommentCount" resultType="_int">
		select count(comment) from comment where recomment is null
	</select>
	
	<insert id="insertcomment">
		insert into comment(memId , star,comment,commentNum,commentTime) values(#{memId} ,#{star} ,#{comment} ,(select IFNULL(MAX(commentNum),0)+1 from comment C) , #{commentTime})
	</insert>
	
	<select id="getrecomment" resultType="com.wolf.domain.ACommentDTO">
		select * from comment where recomment =	#{commentNum} limit #{page} , #{pagesize}
	</select>
	
	<select id="getrecommentCount" resultType="_int">
		select count(comment) from comment where recomment = #{commentNum}
	</select>
	
	<insert id="insertrecomment">
		insert into comment(recomment,comment,commentNum,commentTime) values(#{recomment} ,#{comment} ,(select IFNULL(MAX(commentNum),0)+1 from comment C) , #{commentTime})
	</insert>
	
	<update id="insertpicture">
		update comment set picture = #{picture} where commentNum = (select re.num from (select max(commentNum) num from comment) re);
	</update>
	
</mapper>